* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

#root {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-y: auto;
    background-color: #FFF7ED;
}

.not-found-container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.not-found-content {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    padding: 100px 20px 50px;
}

.not-found-title {
    font-weight: 700;
    font-size: 2rem;
    margin: 0 0 20px;
}

/*** Van Type Tags ***/
.van-tag {
    border-radius: 5px;
    padding-block: 6px;
    padding-inline: 23px;
}

button.van-tag {
    border-style: none;
    background-color: #FFEAD0;
    font-family: "Inter", sans-serif;
    color: #4D4D4D;
    cursor: pointer;
}

i.van-tag {
    font-style: normal;
}

button.van-tag:hover,
.van-tag.active {
    color: #FFEAD0;
}

button.van-tag.simple:hover,
.van-tag.active.simple {
    background-color: #E17654;
}

button.van-tag.luxury:hover,
.van-tag.active.luxury {
    background-color: #161616;
}

button.van-tag.rugged:hover,
.van-tag.active.rugged {
    background-color: #115E59;
}