.vans-container {
    display: flex;
    justify-content: center;
}

.vans-content>h1 {
    font-weight: 700;
    font-size: 2rem;
    margin-left: 20px;
}

.tags-container {
    display: flex;
    gap: 15px;
    margin-left: 20px;
    align-items: center;
}

.btn-clear-filters {
    border-style: none;
    background-color: transparent;
    text-decoration: underline;
    font-family: "Inter", sans-serif;
    color: #4D4D4D;
    cursor: pointer;
}

.btn-clear-filters:hover {
    color: #E17654;
}

.vans-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    width: 100%;
}

@media all and (min-width:820px) {
    .vans-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width:1096px) {
    .vans-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* @media all and (min-width:1366px) {
    .vans-list {
        grid-template-columns: repeat(5, 1fr);
    }
} */

.van-link {
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
}

.van-link:hover {
    background-color: #FFEAD0;
}

.van-card {
    display: flex;
    flex-direction: column;
    max-width: 230px;
}

.van-img {
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.van-img.resize {
    width: 230px;
    height: auto;
}

.van-card-data {
    display: flex;
}

.van-card-data-left {
    margin-top: 10px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.van-card-name {
    margin: 0;
    font-weight: 600;
    font-size: 1.25rem;
    color: #161616;
}

i.van-tag {
    grid-row: 2;
    margin: 8px 0 0;
}

.van-card-data-right {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.van-price {
    margin: 0;
    font-weight: 600;
    font-size: 1.25rem;
    color: #161616;
}

.van-price-duration {
    margin: 0;
    font-size: 0.875rem;
    color: #161616;
}
