.nav-header {
    padding: 20px 20px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-header a {
    text-decoration: none;
}

.nav-header a:hover {
    text-decoration: underline;
}

.link-home {
    color: #000;
    font-weight: 900;
    font-size: 1.6rem;
    margin-right: auto;
}

.link-page {
    color: #4D4D4D;
    font-weight: 600;
}

.link-page:hover {
    text-decoration: underline;
}

.link-page.active {
    color: #000;
    font-weight: 700;
}
